@font-face {
    font-family: "japaneseFont";
    src: url("./assets/fonts/Shojumaru/Shojumaru-Regular.ttf");
}

body {
    background-color: black;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "japaneseFont";
    src: url("./assets/fonts/Shojumaru/Shojumaru-Regular.ttf");
}

#chat {
    background-color: #ff5757;
    width: 700px;
    padding: 10px;
    border-style: solid;
    border-color: white;
    position: absolute;
    display: none;
    left: 100px;
}

#jugadores {
    background-color: black;
    color: white;
    width: 200px;
    height: 80%;
    padding: 0.25rem 1rem;
    word-wrap:break-word;
    overflow: auto;
}

#info {
    width: 400px;
    height: 98%;
    overflow: auto;
    padding: 0.25rem 1rem;
    word-wrap:break-word;
}

.chat__wrap {
    display: flex;
    flex-flow: row nowrap;
}

/*------------------------------------------------------*/
/*SECCION DE TODO LO QUE TIENE QUE VER CON LOS JUGADORES*/
/*------------------------------------------------------*/
.info__container {
    margin: 0.5rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

/*caja de los jugadores conectados*/
.info__players {
    margin-bottom: 1rem;
}

/*caja para meter el nombre de usuario*/
.info__nickname {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.8rem;
    padding: 0.25rem 0.5rem;
}

/*botones conectarse y desconectarse*/
.info__button-wrap {
    display: flex;
    flex-flow: row nowrap;
    
}
.info__button {
    width: 100%;
    margin: 0 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
}

/*------------------------------------------------*/
/*SECCION DE TODO LO QUE TIENE QUE VER CON EL CHAT*/
/*------------------------------------------------*/
.chat__container {
    margin: 0.5rem;
    display: flex;
    flex-flow: column wrap;
}

/*caja donde salen los mensajes*/
.chat__messages {
    background-color: white;
    height: 400px;
    margin-bottom: 1rem;
}

/*div de la caja para escribir y boton enviar*/
.chat__inputs {
    display: flex;
    flex-flow: row nowrap;
}

/*boton enviar*/
.chat__button{
    margin: 1 0.5rem;
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
}

/*caja para escribir mensajes*/
#msg__input{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0.5rem;
}
