@font-face {
    font-family: 'japaneseFont';
    src: url('./assets/fonts/Shojumaru/Shojumaru-Regular.ttf');
}

body{
    background-color: black;
}

/*headers*/
h1{
    text-align: center;
    font-family: 'japaneseFont';
    src: url('./assets/fonts/Shojumaru/Shojumaru-Regular.ttf');
}

/*bloque que contiene todo el div del chat*/
#chat{
    background-color:#ff5757;
    width: 30%;
    padding: 10px;
    position: absolute;
    top: 750px;
    border-style: solid;
    border-color: white;
    height: 500px;
}

/*div que contiene los jugadores*/
#jugadores{
    position: relative;
    background-color: black;
    width: 170px;
    color: white;
    float: left;
}

/*div info que contiene los mensajes*/
#info{
    position: relative;
    background-color:white;
    width: 350px;
    height: 400px;
    overflow: scroll;
    right: 0;
}


