@font-face {
  font-family: "japaneseFont";
  src: url("./assets/fonts/Shojumaru/Shojumaru-Regular.ttf");
}

body {
  background-color: black;
  width: 100%;
  display: flex;
  flex-flow: column-reverse wrap;
  align-items: flex-start;
}

/*headers*/
h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "japaneseFont";
  src: url("./assets/fonts/Shojumaru/Shojumaru-Regular.ttf");
}

/*bloque que contiene todo el div del chat*/
#chat {
  background-color: #ff5757;
  width: auto;
  padding: 10px;
  /* position: absolute; */
  /* top: 750px; */
  border-style: solid;
  border-color: white;
  /* height: 500px; */
}

/*div que contiene los jugadores*/
#jugadores {
  background-color: black;
  color: white;
  height: auto;
  padding: 0.25rem 1rem;
}

/*div info que contiene los mensajes*/
#info {
  /* position: relative; */
  /* background-color: white; */
  width: 100%;
  height: 100%;
  overflow: scroll;
  /* right: 0; */
}

.chat__wrap {
  display: flex;
  flex-flow: row nowrap;
}

.info__container {
  margin: 0.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.info__players {
  height: 50%;
}

.info__nickname {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.info__button-wrap {
  display: flex;
  flex-flow: row nowrap;
}
.info__button {
  border: 3px solid rgb(97, 0, 0);
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.65rem;
}

.chat__container {
  margin: 0.5rem;
  display: flex;
  flex-flow: column wrap;
}

.chat__messages {
  background-color: white;
  height: 300px;
  margin-bottom: 1rem;
}

.chat__inputs {
  display: flex;
  flex-flow: row nowrap;
}
